<div class="WindowContainer LauncherContainer">
  <div class="LauncherList">
    <button id="LauncherButtonAccountCentre" class="LauncherItemButton" type="button">
      <span class="LauncherItemTitle">Account Centre</span>
    </button>
    <button id="LauncherButtonStorage" class="LauncherItemButton" type="button">
      <span class="LauncherItemTitle">Files</span>
    </button>
    <button id="LauncherButtonCalendar" class="LauncherItemButton" type="button">
      <span class="LauncherItemTitle">Date & Time</span>
    </button>
    <div class="LauncherDivider"></div>
    <div id="LauncherParentTools" class="LauncherItemParent">
      <button id="LauncherButtonToggleTools" class="LauncherItemButton" type="button">
        <span class="LauncherItemTitle">Tools</span>
        <span class="LauncherItemIndicator" aria-hidden="true">...</span>
      </button>
      <div id="LauncherToolsSubmenu" class="LauncherSubmenu HiddenElement">
        <button id="LauncherButtonDiceRoller" class="LauncherItemButton LauncherSubmenuItemButton" type="button">
          <span class="LauncherItemTitle">Dice Roller</span>
        </button>
        <button id="LauncherButtonCharacterGenerator" class="LauncherItemButton LauncherSubmenuItemButton" type="button">
          <span class="LauncherItemTitle">Character Generator</span>
        </button>
      </div>
    </div>
    <div class="LauncherDivider"></div>
    <div id="LauncherParentSystem" class="LauncherItemParent">
      <button id="LauncherButtonToggleSystem" class="LauncherItemButton" type="button">
        <span class="LauncherItemTitle">System</span>
        <span class="LauncherItemIndicator" aria-hidden="true">...</span>
      </button>
      <div id="LauncherSystemSubmenu" class="LauncherSubmenu HiddenElement">
        <button id="LauncherButtonRestartSystem" class="LauncherItemButton LauncherSubmenuItemButton" type="button">
          <span class="LauncherItemTitle">Restart</span>
        </button>
        <button id="LauncherButtonExitSystem" class="LauncherItemButton LauncherSubmenuItemButton DesktopMenuDangerButton" type="button">
          <span class="LauncherItemTitle">Exit</span>
        </button>
      </div>
    </div>
  </div>
</div>


